<p>profil works!</p>
<html>
    <head>

    </head>
    <body>
        <!--app-acceuil></app-acceuil>
        <app-bar-produit></app-bar-produit>
        <app-achats></app-achats>
        <app-parametres></app-parametres>
        <app-ventes></app-ventes-->

          
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div  id="liste">
                            <ul>
                             <li class="nav-item"><a class="nav-link" routerLink="/acceuil.component.html"><i class="fas fa-align-justify"></i> &nbsp; Acceuil</a></li>
                             <li class="nav-item"><a class="nav-link" routerLink="/bar-vente.component.html"><i class="fas fa-balance-scale-left"></i>  &nbsp; Ventes</a></li>
                             <li class="nav-item"><a class="nav-link" routerLink="/bar-produit.component.html"><i class="fas fa-sitemap"></i> &nbsp; Produits</a></li>
                             <li class="nav-item"><a class="nav-link" routerLink="/bar-achat.component.html"><i class="fas fa-concierge-bell"></i> &nbsp; Achats</a></li>
                             <li class="nav-item"><a class="nav-link" routerLink="/bar-parametres.component.html"><i class="fas fa-user-cog"></i> &nbsp; Pramètres</a></li>
                              <li class="nav-item"><a class="nav-link" routerLink="/client.component.html"><i class="fas fa-notes-medical"></i>  &nbsp; Client </a></li>
                             <li><a class="nav-link"routerLink="#"><i class="fas fa-sign-in-alt"></i>  &nbsp; Déconnecter</a></li>
                            </ul>
                        </div>
                    </div>
                      </nav>
             
        
    </body>
</html>