<p>bar-achat works!</p>

<html>
    <head>

    </head>
    <body>
        <nav class=" navbar-expand-lg  ">
            <div   id="vente" class="sous_liste">
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a  class="nav-link" routerLink="/achats.component.html"><i class="fab fa-sellsy"></i>&nbsp; &nbsp;Ajouter une Achat</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/achat-affich.component.html"><i class="fab fa-buffer"></i> &nbsp; &nbsp; Afficher les Achats </a></li>
                    <li class="nav-item"><a  class="nav-link" routerLink="/achat-ajout-fournisseur.component.html"><i class="fab fa-sellsy"></i> &nbsp; &nbsp;Ajouter Des Fournisseurs </a></li>
                    <li class="nav-item"><a  class="nav-link" routerLink="/achat-liste-fournisseur.component.html"><i class="fab fa-buffer"></i> &nbsp; &nbsp; Liste_fournisseurs </a></li>
              
                </ul>
              </div>
            </div>
          </nav>
    </body>
</html>