
<html  xml:lang="fr" lang="fr">
<head>
<title>Acceuil</title>
<meta charset="utf_8"  />
<link rel="shortcut icon" href="assets/images/icons/giphy111.gif">

</head>
<body>
<div  class="forms">
	
	<div  class="sous-forms">
		<h1> Vente <img src="assets/images/icons/1 (1).png"></h1>
					<a href="/ventes.component.html">Vente au public </a>
					<a href="/vente-g.component.html">Ventes en gros</a>
					<a href="/vente-retourne.component.html">Retourne</a>
					<br><br><br>
					<a href="/vente-jour.component.html">État des ventes de jour</a>
					<a href="/vente-paiment.component.html">Paiement à terme de vente</a>
		<hr><br><br> <br><br> <br>
	</div>
			<div  class="sous-forms">
				<h1> Approvisionnement <img src="assets/images/icons/1 (2).png"></h1>
					<a href="/achats.component.html">Ajouter un achat</a>
					<a href="/achat-affich.component.html">Afficher les achats</a>
					<a href="/achat-liste-fournisseur.component.html">Afficher les fournisseurs</a>
						<br><br> <br>
					<a href="/achat-ajout-fournisseur.component.html">Ajouter un  fournisseur</a>
					<hr><br><br> <br><br> <br>
			</div>
	<div  class="sous-forms">
		<h1> Produits <img src="assets/images/icons/1 (4).png"></h1>
			<a href="/ajout-produit.component.html">Ajouter un Produit</a>
			<a href="/produits.component.html">Les Produits</a>
			<a href="/lacune-produit.component.html">Déclaration des lacunes</a>
				<br><br><br>
			<a href="/expire-produit.component.html">Expiration bientôt</a>
			<hr><br><br> <br><br> <br>
	</div>
			<div  class="sous-forms">
			<h1> Paramètres <img src="assets/images/icons/1 (9).png"></h1>	
				<a href="/parametres.component.html">Données sur la pharmacies</a>
				<a href="/unit.component.html">Les Unités</a>
				<br><br><br>
			</div>




</div>
</body>
</html>