
<html>
    <head>

    </head>
    <body>
        <nav class=" navbar-expand-lg  ">
            <div   id="vente" class="sous_liste">
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a  class="nav-link" routerLink="/ventes.component.html"><i class="fas fa-check-circle"></i>&nbsp; &nbsp;Ventes au public </a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/vente-g.component.html"><i class="fab fa-buffer"></i> &nbsp; &nbsp; Ventes en gros </a></li>
                    <li class="nav-item"><a  class="nav-link" routerLink="/vente-retourne.component.html"><i class="fas fa-undo"></i> &nbsp; &nbsp;Retournes </a></li>
                    <li class="nav-item"><a  class="nav-link" routerLink="/vente-jour.component.html"><i class="fab fa-sellsy"></i> &nbsp; &nbsp; Etat des ventes du jour </a></li>
                    <li class="nav-item"><a  class="nav-link" routerLink="/vente-paiment.component.html"><i class="fab fa-amazon-pay"></i> &nbsp; &nbsp; Paiement à terme du vente</a></li>
              
                </ul>
              </div>
            </div>
          </nav>
    </body>
</html>