
<!--app-ajout-produit></app-ajout-produit>
<app-produits></app-produits>
<app-lacune-produit></app-lacune-produit>
<app-expire-produit></app-expire-produit-->
    <html>
        <head>

        </head>
        <body>
            <nav class=" navbar-expand-lg  ">
                <div  id="vente" class="sous_liste" >
                
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a  class="nav-link" routerLink="/ajout-produit.component.html"><i class="fas fa-check-circle"></i>&nbsp; &nbsp;  Ajouter produits </a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/produits.component.html"><i class="fab fa-buffer"></i> &nbsp; &nbsp; Les produits</a></li>
                        <li class="nav-item"><a  class="nav-link" routerLink="/lacune-produit.component.html"><i class="fas fa-undo"></i> &nbsp; &nbsp; Déclaration des lacunes </a></li>
                        <li class="nav-item"><a  class="nav-link" routerLink="/expire-produit.component.html"><i class="fab fa-sellsy"></i> &nbsp; &nbsp; Expiration bientôt </a></li>
                  
                    </ul>
                  </div>
                </div>
              </nav>
        </body>
    </html>